.input_wrapper {
  position: relative;
  width: 100%;
  height: 29px;
  padding-right: 12px;

  input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid black;
    background: transparent;
    box-shadow: inset 0 1px 6px rgb(0 0 0 / 60%);
    border-radius: 4px;

    &::placeholder {
      color: #333;
      opacity: 0.5;
    }
  }

  .reset_input {
    position: absolute;
    right: 20px;
    bottom: 8px;
    width: 12px;
    height: 12px;
    background: url('./img/cross.svg') center/contain no-repeat;
    cursor: pointer;
  }
}
