.selector_container {
  height: 30px;
  color: rgb(51 51 51);
  font-size: 14px;

  .selector_value {
    cursor: pointer;

    &.chosen {
      cursor: default;
      text-decoration: underline;
    }
  }
}
