* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  padding: 10px;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .page {
    width: 100%;
  }
}
