* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  padding: 16px;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
