* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  padding: 10px;

  @media (width >= 1024px) {
    padding: 30px 25px;
  }
}

.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .page {
    width: 100%;
  }
}

a {
  all: unset;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
